{% extends "base.html" %}
{% load static wagtailcore_tags wagtailuserbar navigation_tags wagtailimages_tags django_tables2  %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/home_page.css' %}">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="{% static 'css/list_page.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<i> Refresh file location: </i>
<form method="post" action="" id="refresh_form" name="refresh" value="true" >
    {% csrf_token %}
    <input type="hidden" name="refresh" value="true">
    <button type="submit" class="btn btn-light" id="refresh_btn" value="refresh">
        <i class="fa fa-rotate-right"></i>
        </button>
</form>
<p>
<i>{{ minio_filelist_status }}</i>
</p>

Filter:
<form action="." method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" class="form-control" id="filterText" name="filter" aria-describedby="filterText" placeholder="filter...">
    <button type="submit" class="btn btn-primary">search</button>
</form>
{% render_table table %}

{% endblock %}