{% extends "base.html" %}
{% load static %}
{% load navigation_tags %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/home_page.css' %}">
<link rel="stylesheet" href="{% static 'css/custom_cards.css' %}">

<div class="container mt-4">
  <div class="card shadow-sm">
    <div class="card-header bg-primary">
        <h3> SAMPLE INFORMATION </h3>
    </div>
<div class="container mt-4">
  <div class="card shadow-sm">
    <div class="card-header bg-primary">
      <h4>ID: {{ sample.sample_id }}</h4>
    </div>
    <div class="card-body">
      {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
      {% else %}
        <p class="card-text"><strong>Description:</strong> {{ sample.sample_short_description }}</p>
        {% if sample.proposal %}<p class="card-text"><strong>Proposal:</strong> {{ sample.proposal.proposal_id }} - {{ sample.proposal.title }}</p>{% endif %}
        {% if sample.sample_description %}<p class="card-text"><strong>Details:</strong> {{ sample.sample_description }}</p>{% endif %}
        {% if sample.sample_feasibility %}<p class="card-text"><strong>Feasibility:</strong> {{ sample.sample_feasibility }}</p>{% endif %}
        {% if sample.sample_status %}<p class="card-text"><strong>Status:</strong> {{ sample.sample_status }}</p>{% endif %}
        {% if sample.sample_location %}<p class="card-text"><strong>Location:</strong> {{ sample.sample_location }}</p>{% endif %}
        <!-- Add other lab-specific fields as needed -->
      {% endif %}


    </div>
  </div>
<div>
    {% if sample|classname == "lagesamples" %}
        {% include "home/sample_pages/includes/lage_report.html" %}
      {% endif %}
      {% if sample|classname == "bio_open_lab_unisalentosamples" %}
        {% include "home/sample_pages/includes/bio_open_lab_unisalento_report.html" %}
      {% endif %}
      {% if sample|classname == "nanoinnovation_laboratorysamples" %}
        {% include "home/sample_pages/includes/nanoinnovation_laboratory_report.html" %}
      {% endif %}
      {% if sample|classname == "sissi_biosamples" %}
        {% include "home/sample_pages/includes/sissi_bio_report.html" %}
      {% endif %}
      {% if sample|classname == "mass_spectroscopy_infrastructuresamples" %}
        {% include "home/sample_pages/includes/mass_spectroscopy_infrastructure_report.html" %}
      {% endif %}
      {% if sample|classname == "iuvssamples" %}
        {% include "home/sample_pages/includes/iuvs_report.html" %}
      {% endif %}
      {% if sample|classname == "cnr_icsamples" %}
        {% include "home/sample_pages/includes/cnr_ic_report.html" %}
      {% endif %}
      {% if sample|classname == "cnr_iomsamples" %}
        {% include "home/sample_pages/includes/cnr_iom_report.html" %}
      {% endif %}
      {% if sample|classname == "struct_bio_labsamples" %}
        {% include "home/sample_pages/includes/struct_bio_lab_report.html" %}
      {% endif %}
      {% if sample|classname == "biosafety_facilitysamples" %}
        {% include "home/sample_pages/includes/biosafety_facility_report.html" %}
      {% endif %}
      {% if sample|classname == "functional_screening_facilitysamples" %}
        {% include "home/sample_pages/includes/functional_screening_facility_report.html" %}
      {% endif %}
</div>


  </div>
{% endblock %}