{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-form{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/home_page.css' %}">
<link rel="stylesheet" href="{% static 'css/forms/labdmp_page.css' %}">
<link rel="stylesheet" href="{% static 'css/custom_cards.css' %}">


    <h1><b>{{ lab }} CORE DATA MANAGEMENT PLAN</b></h1>

    {{ page.intro | richtext }}

    <div class="container mt-4">
      <div class="row">
        <div class="col">
          <form action="." method="POST">
              {% csrf_token %}
              <div class="card mb-4">
                <div class="card-header">GENERAL METADATA COLLECTION</div>
                <div class="card-body">
                  <p>
                      <i> Who is the principal data curator of the laboratory?</i> {{ data.data_curator }}<br>
                      <i>Do you collect additional metadata by an open source laboratory notebook?</i>
                      <br><i>If yes, what is the name of the electronic notebook?</i> {{ data.additional_enotebook_open_collection }} <br>
                      <i>Do you use a well defined standard to name your samples?</i>
                      <br><i>If yes, what is the standard used?</i> {{ data.sample_standard }} <br>
                      <i>Do you use a well defined metadata schema and format?</i>
                      <br><i>If yes, it is a public available schema?</i> {{ data.metadata_schema_defined }} <br>
                  </p>
                </div>
              </div>

              <div class="card mb-4">
                <div class="card-header">GENERAL DATA AND METADATA STORAGE AND PRESERVATION</div>
                <div class="card-body">
                  <p>
                      <i>Which backup policy will be applied to published data or raw data related to published data?</i>
                      <br>{{ data.backup_policy_published_data }} <br>
                      <i>Which backup policy will be applied to not published data or raw data not related to published data?</i>
                      <br>{{ data.backup_policy_unplublished_data }} <br>
                  </p>
                </div>
              </div>
              <br>
              <p><input type="submit" value="Update Core Data Management Plan" class="btn btn-primary"></p>
          </form>
        </div>
      </div>
    </div>

{% endblock %}
