{% extends "base.html" %}
{% load static wagtailcore_tags django_tables2 %}

{% block body_class %}template-form{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/forms/lage_form.css' %}">
<link rel="stylesheet" href="{% static 'css/custom_cards.css' %}">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<h1><b>SAMPLE ENTRY FORM</b></h1>

{{ page.intro | richtext }}

{% include "home/forms/includes/common_sample_template.html" %}
    <div class="card mb-4 shadow-sm">
      <div class="card-header"><b>LAGE SAMPLE INFORMATION</b></div>
      <div class="card-body">
        <p>
            <i>Type of sample</i>: <br> {{ samples.type }} <br>
            <i>In the list of samples, have you included the volume expressed in µl? (if not, specify why)</i>: <br>
            Yes? {{ samples.is_volume_in_ul }} <br>
            <i>In the list of samples, have you included the Buffer used? (if not, specify why)</i>: <br> Yes? {{ samples.is_buffer_used }} <br>
            <i>Expected date of delivery ("YYYY-MM-DD")</i>: <br> {{ samples.sample_date_of_delivery }} <br>
            <i>[Not Mandatory] In the list of samples, have you specified the quality (if available RIN in case of RNA,
                DIN in case of DNA, and/or 260/280nm ratio)?</i>: <br> Yes? {{ samples.is_quality }} <br>
            <i>only for scientific collaborations: do you want the rest of the sample back?</i> Yes: {{ samples.sample_back }} <br>

            <br>
        </p>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header"><b>FILES</b></div>
      <div class="card-body">
        <br>
        <p>
            <i>Include the sample sheet if present</i>: {{ samples.sample_sheet_filename }} <br>
            <i>Include additional file: <br> (FOR THIS VERSION OF EASYDMP: if more than one compress the files in a
                single zip or tar format)</i> {{ samples.additional_filename }}

        </p>
      <br>
      <p><input type="submit" value="Insert data" class="btn btn-primary"></p>
    </div>
</form>
<script>
    var QueryString = (new URL(location.href)).searchParams.get('filter');
    if (QueryString != '')
        $('#dropMenu .dropdown .dropdown-menu').show();
</script>


{% endblock %}